:root {
    --dark: #18181b;
    --darker: #0e0e10;
    --gray: #d9d9d9;
    --yellow: #feff0b;
    --green: #5edb04;
    --white: #fff;
    --black: #000;
    --border: #27272a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

*::selection {
    background-color: black;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
}

p {
    color: var(--gray);
}

body {
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0px 30px;
}

.title {
    font-size: 70px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.subtitle {
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--white);
}

.text {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: var(--gray);
    font-family: 'Merriweather', serif;
}

.green {
    color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.white {
    color: var(--white);
}

@media only screen and (max-width: 1200px) {
    .title {
        font-size: 58px;
    }

    .subtitle {
        font-size: 24px;
    }

    .text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 700px) {
    .title {
        font-size: 46px !important;
    }

    .subtitle {
        font-size: 22px !important;
    }

    .text {
        font-size: 14px !important;
    }
}

/* Landing */
.landing-spacer {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}

.overlay {
    background-image: url('https://wallpapercave.com/wp/wp9189706.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    background-position: center;
    -webkit-background-size: cover;
    background-size: 100% 100%;
    color: transparent !important;
    text-align: center;
}

.landing-spacer .title h1 {
    font-size: 130px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.landing-spacer .title h2 {
    font-size: 65px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: -20px;
}

.landing-spacer .background-video {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.landing-spacer .background-video video {
    display: block;
    width: 100%;
    height: auto;
}

/* Header */
header {
    position: fixed;
    z-index: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    padding: 0px 50px;
    background-color: var(--black);
}

header.homepage {
    position: absolute;
    bottom: 0;
    left: 0;
}

header.sticky {
    position: fixed;
    top: 0;
    left: 0;
    bottom: unset;
}

header .logo {
    width: 300px;
    height: auto;
    text-align: left;
}

header .logo h3 {
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

header nav a {
    text-decoration: none;
    color: var(--gray);
    font-size: 16px;
}

header nav a:hover {
    font-weight: bold;
}

header nav ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
    list-style-type: none;
}

header nav ul li {
    padding: 20px 20px;
}

header .hamburger {
    display: none;
    align-items: center;
    /* width: 20px;
    height: 20px; */
    padding: 15px;
    color: var(--black);
    cursor: pointer;
    background-color: var(--green);
    border-radius: 100%;
}

header .hamburger i {
    transition: all 0.5s;
}

header .hamburger:hover > i {
    color: var(--gray);
}

header .buttons {
    display: flex;
    min-width: 250px;
}

header .buttons ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
    list-style-type: none;
}

button {
    width: 100%;
    background-color: var(--green);
    color: var(--black);
    font-size: 14px;
    font-weight: 700;
    border-radius: 4px;
    outline: none;
    border: none;
    padding: 7px 25px;
    cursor: pointer;
    transition: 0.5s;
}

button.yellow {
    background-color: var(--yellow);
    color: var(--black);
}

button:hover {
    background-color: var(--white);
}

@media only screen and (max-width: 1200px) {
    header nav {
        display: none;
    }

    header .buttons {
        display: none;
    }

    header .hamburger {
        display: flex;
        flex-direction: column;
    }

    header .logo {
        width: 100%;
    }
}

@media only screen and (max-width: 900px) {
    header {
        padding: 0px 25px;
    }
}

main {
    width: 100%;
    height: auto;
    min-height: calc(100vh - 50px);
    background-color: var(--darker);
    padding: 175px 0px 95px;
}

/* Introducie */
.introductie-spacer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.introductie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.introductie .heading {
    width: 100%;
    height: auto;
}

.introductie .content {
    max-width: 1000px;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

@media only screen and (max-width: 1100px) {
    .introductie .heading {
        margin-bottom: 30px;
    }
}

/* Timer */
.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 800px;
    background-color: var(--yellow);
    font-size: 90px;
    font-weight: 800;
    border-radius: 40px;
    transition: all 0.5s;
}

.timer-text {
    color: var(--darker);
}

.timer-text span {
    font-size: 55px;
}

.timer-spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 175px 0px;
    padding: 75px 0px;
    background-image: url(../media/mariofoto.jpeg);
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgb(0 0 0 / 50%);
}

@media only screen and (max-width: 900px) {
    .timer {
        height: 130px;
        font-size: 70px;
    }

    .timer-text span {
        font-size: 45px;
    }
}

@media only screen and (max-width: 700px) {
    .timer {
        height: 110px;
        font-size: 50px;
    }

    .timer-text span {
        font-size: 35px;
    }
}

@media only screen and (max-width: 500px) {
    .timer {
        height: 90px;
        font-size: 35px;
    }

    .timer-text span {
        font-size: 22px;
    }
}

/* Informatie */
.informatie-spacer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 150px;
    width: 100%;
    height: auto;
}

.informatie-blok {
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
}

.informatie-blok .informatie {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    padding: 50px 50px 50px 100px;
}

.informatie-blok .informatie .heading {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.informatie-blok .informatie .content {
    width: 100%;
    height: auto;
}

.informatie-blok .afbeelding {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: auto;
}

.informatie-blok .afbeelding img {
    display: block;
    width: 70%;
    height: auto;
}

.informatie-blok.right-handed .informatie {
    padding: 50px 100px 50px 50px;
}

.informatie-blok.right-handed .afbeelding img {
    width: 90%;
}

@media only screen and (max-width: 1350px) {
    .informatie-blok .informatie {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        height: auto;
        padding: 25px 25px 25px 75px;
    }

    .informatie-blok.right-handed .informatie {
        padding: 25px 75px 25px 25px;
    }

    .informatie-blok .afbeelding img {
        width: 80%;
    }
}

@media only screen and (max-width: 1200px) {
    .informatie-blok .afbeelding img {
        width: 90%;
    }
}

@media only screen and (max-width: 1100px) {
    .informatie-blok {
        flex-direction: column;
        row-gap: 50px;
    }

    .informatie-blok .informatie {
        width: 100%;
        padding: 50px;
        text-align: center;
    }

    .informatie-blok.right-handed .informatie {
        padding: 50px;
    }

    .informatie-blok .informatie .heading {
        margin-bottom: 30px;
    }

    .informatie-blok .informatie .heading .title {
        font-size: 70px;
    }

    .informatie-blok .informatie .heading .subtitle {
        font-size: 26px;
    }

    .informatie-blok .informatie .content .text {
        font-size: 16px;
    }

    .informatie-blok .afbeelding {
        width: 100%;
    }

    .informatie-blok .afbeelding img {
        max-width: 500px;
        width: 80%;
    }

    .informatie-blok.right-handed .afbeelding img {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
    .informatie-blok .informatie {
        padding: 25px;
    }

    .informatie-blok.right-handed .informatie {
        padding: 25px;
    }

    .informatie-blok .informatie .heading .title {
        font-size: 58px;
    }

    .informatie-blok .informatie .heading .subtitle {
        font-size: 24px;
    }

    .informatie-blok .informatie .content .text {
        font-size: 15px;
    }
}

/* Introducie */
.inschrijven-spacer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 95px;
}

.inschrijven {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.inschrijven .status {
    width: 100%;
    max-width: 700px;
    height: auto;
    margin-bottom: 25px;
}

.inschrijven .floorplan {
    width: 100%;
    height: auto;
}

.inschrijven .floorplan img {
    max-width: 900px;
    width: 100%;
    height: auto;
}

/* Huisregels */
.huisregels-spacer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 95px;
}

.huisregels {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.huisregels .accordion {
    max-width: 750px;
    width: 100%;
    height: 100px;
    /* margin-bottom: 100px; */
    overflow: hidden;
    transition: height 1s;
    border-bottom: 2px solid var(--border);
    z-index: 2;
    cursor: pointer;
}

.huisregels .accordion:first-child {
    border-top: 2px solid var(--border);
}

.huisregels .accordion.show {
    height: auto;
}

.huisregels .accordion:last-child {
    margin-bottom: 0px;
}

.huisregels .accordion .heading {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.huisregels .accordion .heading::after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 30px;
    content: '+';
    position: absolute;
    right: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--white);
}

.huisregels .accordion.show .heading::after {
    content: '-';
}

.huisregels .accordion .heading .titel {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.huisregels .accordion .heading.show {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.huisregels .accordion .heading .titel::after {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.huisregels .accordion .content {
    width: 100%;
    height: auto;
}

.huisregels .accordion h5 {
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
    color: var(--white);
}

.huisregels .accordion ul {
    list-style-type: none;
}

/* Modals */
.modal-spacer {
    position: fixed;
    z-index: 5000;
    top: -2000px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 0px;
    background-color: rgb(0 0 0 / 80%);
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
    overflow-y: hidden;
}

.modal {
    display: flex;
    width: 700px;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    background-color: black;
    background-image: url('../media/modal.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal .image {
    position: relative;
    display: block;
    width: 40%;
    height: auto;
}

.modal .image img {
    position: absolute;
    top: 0px;
    left: -60px;
    width: 100%;
    height: auto;
}

.modal.aanmelden .image img {
    position: absolute;
    top: 0px;
    left: 29px;
    width: 62%;
    height: auto;
}

.modal .content {
    width: 60%;
    height: auto;
    color: white;
    text-align: center;
}

.modal .content .intro h3 {
    font-size: 32px;
    color: var(--yellow);
    margin-bottom: 10px;
}

.modal.aanmelden .content .intro h3 {
    color: var(--green);
}

.modal .content .intro p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 30px;
}

.modal .content .intro span {
    font-weight: bold;
}

/* Form */
form {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

form input {
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    padding: 8px 15px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid lightslategray;
    outline: none;
}

form .agree {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

form .agree input {
    width: 20px;
    height: 20px;
    border: 1px solid lightslategray;
    outline: none;
    margin-bottom: 0px;
    margin-right: 10px;
}

form button {
    width: 100%;
    height: auto;
    padding: 10px 0px 9px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 16px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}

.content form button {
    background-color: var(--green);
}

form button:hover {
    background-color: var(--white);
}

.modal .content .option p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;
}

.modal .content .option span {
    color: var(--green);
    cursor: pointer;
}

.modal.aanmelden .content .option span {
    color: var(--yellow);
}

.modal .content .option span:hover {
    color: var(--white);
}

/* Footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0px 20px;
    background-color: var(--black);
}

footer h6 {
    font-size: 12px;
    font-weight: 700;
    color: var(--gray);
}

@media only screen and (max-width: 500px) {
    footer span {
        display: none;
    }
}

/* Contact */
.contact-spacer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 95px;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    text-align: center;
}

.contact .map {
    width: 100%;
    height: auto;
}

.contact .map iframe {
    width: 100%;
    height: 300px;
    border-top: 4px solid var(--yellow);
    border-bottom: 4px solid var(--yellow);
    border-left: 4px solid var(--green);
    border-right: 4px solid var(--green);
    border-radius: 4px;
}

.contact .contactgegevens {
    display: flex;
    justify-content: space-around;
    column-gap: 30px;
    width: 100%;
    height: auto;
    margin-top: 50px;
}

.contact .contactgegevens .adres {
    width: 100%;
    height: auto;
}

.contact .contactgegevens > div {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 100%;
    height: auto;
}

.contact .contactgegevens .contact {
    width: 100%;
    height: auto;
}

.contact h5 {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--white);
    margin-bottom: 20px;
}

@media only screen and (max-width: 650px) {
    .contact .contactgegevens {
        flex-direction: column;
        justify-content: unset;
        row-gap: 50px;
    }
}

/* Hamburger overlay */
.hamburger-overlay {
    position: fixed;
    z-index: 5000;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.9);
    overflow: hidden;
    transition: 0.5s;
}

.hamburger-overlay .hamburger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: auto;
    list-style-type: none;
}

.hamburger-overlay .hamburger-menu li {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.hamburger-overlay .hamburger-menu li a,
.hamburger-overlay .hamburger-menu li i {
    color: #cecece;
    font-size: 22px;
    letter-spacing: 2px;
    /* text-transform: uppercase; */
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
}

.hamburger-overlay .hamburger-menu li:nth-child(even):hover a {
    color: var(--green);
}

.hamburger-overlay .hamburger-menu li:nth-child(odd):hover a {
    color: var(--yellow);
}

.hamburger-overlay button {
    max-width: 250px;
    margin-bottom: 5px;
}

/* Alert */
.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgb(255 255 255 / 50%);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #eed3d7;
}

.alert p {
    color: var(--black) !important;
}
